* {
    margin: 0;
    padding: 0;
    font-family: "cursive", monospace, system-ui, sans-serif;
}

.ribbon {
    width: 100vw;
    height: 8px;
    background-color: cadetblue;
}

.cadetblue {
    color: cadetblue;

}

.center {
    text-align: center;
    margin: 4px auto;
}

.small {
    font-size: 100%;
}

.text-shadow {
    text-shadow: 0.5px 0.5px black;
}

b {
    font-weight: bold;
    font-size: 18px;
}

.btn {
    width: auto;
    padding: 3px;
    margin: 2px;
}

.btn:hover {
    background-color: cadetblue;
}

.table-container {
    overflow: auto;
    padding: 7px;
    max-height: 55vh;
    box-shadow: 3px 3px 3px 3px gray inset;
    max-width: fit-content;
}

.popup {
    z-index: 9999;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.popupElements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 50vh;
    min-width: auto;
    min-height: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 3px 3px 7px 1px rgb(0 0 0 / 50%);
}

.hidden {
    display: none;
    visibility: hidden;
}

.right {
    float: right;
}

#form {
    margin: 5px;
    padding: 3px;
    overflow: auto;
}

.input {
    margin: 6px 0;
    padding: 1px 5px;
    height: 20px;
    border-radius: 5px;
}

.bg-red {
    background: red;
}

.bg-green {
    background: green;
}

.bg-lightGreen {
    background-color: lightgreen;
}

.bg-lightRed {
    background-color: lightcoral;
}

td,
th {
    text-align: center;
    padding: 2px;
}

table {
    padding: 3px;
}

#footer {
    background-color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    position: absolute;
    top: 94.89vh;
    left: 40px;
    font-size: 1.3rem;
    width: 90vw;
    border-radius: 30px;
}
#fee-status{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 1.3rem;
}